{% extends "base.html" %}

{% block container %}
<div class="panel panel-default">

    <div class="panel-heading">
        <h3>贷款支付详情</h3>
    </div>
    <div class="panel-body">

<div>
  <form class="form-inline" method="get">
      还款金额：
      <input class="form-control " name="payMoney" type="text" value="{{payMoney}}">
      <input class="btn btn-default" type="submit" value="提交还款">
  </form>
</div>
<table class="table table-bordere" style="margin-top:10px">
<tr>
    <th>还款时间</th>
    <th>还款金额</th>
    <th></th>
</tr>
{% for pl in pls %}
<tr class="info">
    <td>{{ pl.payTime }}</td>
    <td>￥{{ pl.payMoney }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
    </div>
</div>